plugins {
    id 'java-library'
    id 'com.bmuschko.nexus'
}

archivesBaseName = '{{ artifactName }}'
group 'com.github.brymck'
version '{{ artifactVersion }}'

task sourcesJar(type: Jar, dependsOn: classes) {
    classifier = 'sources'
    from sourceSets.main.allSource
}

repositories {
    jcentral()
}

modifyPom {
    project {
        name '{{ artifactName }}'
        description 'Some description'
        url 'https://github.com/brymck/proto'
        inceptionYear '2018'

        scm {
            url 'https://github.com/brymck/proto'
            connection 'scm:git:git://github.com/brymck/proto.git'
            developerConnection 'scm:git:git@github.com:brymck/proto.git'
        }

        licenses {
            license {
                name 'MIT License'
                url 'opensource.org/licenses/mit-license.php'
                distribution 'repo'
            }
        }

        developers {
            developer {
                id 'brymck'
                name 'Bryan McKelvey'
                email 'bryan.mckelvey@gmail.com'
                url 'https://github.com/brymck'
            }
        }
    }
}

dependencies {
    classpath 'com.bmuschko:gradle-nexus-plugin:2.3.1'
    implementation 'com.google.protobuf:protobuf-java:{{ protobufVersion }}'
{%- if hasServices %}
    implementation 'io.grpc:grpc-netty-shaded:{{ grpcVersion }}'
    implementation 'io.grpc:grpc-protobuf:{{ grpcVersion }}'
    implementation 'io.grpc:grpc-stub:{{ grpcVersion }}'
{%- endif %}
{%- for dependency in dependencies %}
    compile group: 'com.github.brymck', name: '{{ dependency }}', version: '{{ artifactVersion }}'
{%- endfor %}
}

extraArchive {
    sources = true
    tests = true
    javadoc = true
}

nexus {
    sign = true
    repositoryUrl = 'https://oss.sonatype.org/service/local/staging/deploy/maven2/'
    snapshotRepositoryUrl = 'https://oss.sonatype.org/content/repositories/snapshots/'
}
